stages:
  - test

pytest:
  stage: test
  image: python:3.10
  script:
    - pip install pytest
    - pip install -r requirements.txt
    - pytest
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"