stages:
  - test

pytest:
  stage: test
  image: python:3.10
  script:
    - pip install -r requirements.txt
    - echo $(pwd)
    - PYTHONPATH=$(pwd) python -m pytest tests --cache-clear
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"