numpy>=1.26.2
copious>=0.1.20
loguru
scipy
tqdm
easydict==1.13
nuscenes-devkit
numba>=0.59.0
opencv-python-headless
virtual-camera>=0.0.4.3
open3d>=0.18.0
torch>=2.3.0
torchvision>=0.18.0
transformers>=4.32.0
mmcv>=2.2.0
mmengine>=0.10.4
pytest
pytest-cov
pypcd-imp==0.1.5
tensorboard==2.17.1